<div class="content">
    <header>
        <div class="header-text">
            <h1 *ngIf="!isShowFavorites" (click)="showFavorites()">Favorites</h1>
            <h1 *ngIf="isShowFavorites" (click)="showFavorites()">All news</h1>
        </div>
        <div class="header-block">
            <div class="header-block-user">
                <!-- <h1>User</h1> -->
                <h1>Admin</h1>
            </div>
            <button (click)="logOut()">Log Out</button>
        </div>
    </header>
    <div class="title">
        <h1>News Site</h1>
    </div>
    <div class="filter">
        <div class="filter-title">
            <input type="text" placeholder="Title filter...">
            <button>Filter</button>
        </div>
        <div class="add-button">
            <button (click)='this.authService.addNews()'>Add Article</button>
        </div>
    </div>
    <div *ngIf="!isShowFavorites">
        <div *ngFor="let item of p">
            <app-news [id]='item.source.id' [name]='item.source.name' [author]='item.author' [title]='item.title'
                [description]='item.description' [isFavorite]='item.isFavorite' [urlToImage]='item.urlToImage'
                [publishedAt]='item.publishedAt' [content]='item.content'>
            </app-news>
        </div>
    </div>

    <div *ngIf="isShowFavorites">
        <div *ngFor="let item of p">
            <app-news *ngIf='item.isFavorite === true' [id]='item.source.id' [name]='item.source.name'
                [author]='item.author' [title]='item.title' [description]='item.description'
                [isFavorite]='item.isFavorite' [urlToImage]='item.urlToImage' [publishedAt]='item.publishedAt'
                [content]='item.content'>
            </app-news>
        </div>
        <div class="noNews" *ngIf="!ifFavorites() && p.length !== 0">
            <h1>You have no favorites!</h1>
        </div>
    </div>

    <div class="noNews" *ngIf='p.length == 0'>
        <h1>You have no news!</h1>
    </div>
</div>