@import '../../../styles.scss';
body, html {
    margin: -8px;
    background-color:$white;
    font-family: Arial;
}
.content {
    height: 100%;
    height: 100%;
    background-color:$white;
}
header {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  $red;
}
.header-text h1 {
    outline: none;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
}
.header-block {
    height: 50px;
    width: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-block-user {
    height: 50px;
    width: 100px;
}
.header-block button {
    height: 36px;
    width: 100px;
    border: 2px solid #b8222f;
    border-radius: 5px;
    background-color: #b8222f;
    text-align: center;
    outline: none;
    margin-right: 10px;
    color: white;
}
.header-block button:hover {
    cursor: pointer;
}
.header-block h1 {
    margin-top: 5px;
    color: white;
    font-family: Arial;
    font-weight: 200;
}
.title {
    height: 50px;
    width: 100%;
    background-color: $gray;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.title h1 {
    font-weight: 200;
}
.filter {
    height: 50px;
    width: 100%;
    background-color:$white;
    display: flex;
    justify-content: space-between;
}
.filter button:hover {
    cursor: pointer;
}
.filter-title {
    height: 50px;
    width: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.add-button {
    height: 50px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-button button{
    height: 36px;
    width: 150px;
    border: 2px solid #d3a2ab;
    color: #d3a2ab;
    text-align: center;
    outline: none;
    border-radius: 5px;
}
.filter-title input{
    height: 30px;
    width: 200px;
    padding-left: 5px;
    border: 3px solid #cde0ef;
    outline: none;
}
.filter-title button{
    height: 36px;
    width: 70px;
    border: 2px solid #d3a2ab;
    color: #d3a2ab;
    text-align: center;
    outline: none;
    border-radius: 5px;
}
button {
    height: 30px;
    width: 100px;
}
.header-text h1 {
    padding: 5px;
    color: white;
}
header h1:hover {
    cursor: pointer;
}
.noNews {
    margin-top: 50px;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media(max-width: 650px) {
    header {
        font-size: 10px;
    }
    .header-block h1 {
        margin-top: 14px;
    }
}
@media(max-width: 480px) {
    .filter-title {
        width: 65%;
    }
    .add-button{
        width: 35%;
    }
    input {
        width: 60%;
    }
    .filter-title button {
        width: 30%;
    }
    .add-button button {
        width: 80%;
    }
    .header-block {
        justify-content: flex-end;
    }
    .header-block button {
        margin-left: -20px;
    }
    .header-block h1 {
        margin-left: 10px;
    }
}
@media(max-width: 400px) {
    .filter-title button {
        display: none;
    }
}
.space {
    height: 50px;
    width: 100%;
    background-color:$white;
}