@import '../../styles.scss';
.content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    margin-top: 50px;
    padding: 50px;
    height: 550px;
    width: 40%;
    border: 2px solid silver;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form-group {
    width: 100%;
    margin-top: 30px;
}
input {
   height: 30px;
   width: 97%; 
   text-align: center;
   border-radius: 5px;
}
button {
    height: 40px;
    margin-top: 30px;
    width: 100%;
    border-radius: 5px;
    background-color: $silver;
    color: white;
}
h1 {
    font-size: 30px;
    font-family: Arial;
}
h4 {
    margin: 0;
    font-weight: 200;
    font-family: Arial;
}
form {
    width: 100%;
}
input.ng-touched.ng-invalid {
    // border:solid red 3px;
    border: solid $red 3px;
}
input.ng-touched.ng-valid {
    border:solid rgb(62, 218, 62) 3px;
}
@media(max-width: 800px) {
    .container {
        width: 80%;
    }
}
@media(max-width: 600px) {
    .container {
        width: 90%;
    }
}
@media(max-width: 480px) {
    h1 {
        font-size: 18px;
    }
    .container {
        padding: 25px;
        height: 500px;
    }
}
@media(max-width: 350px) {
    h1 {
        font-size: 15px;
        .container {
            padding: 10px;
            height: 400px;
        }
    }
}
@media(max-width: 300px) {
    h1 {
        font-size: 13px;
    }
}