<div class="content">
    <div class="post">
        <header>
            <h1>{{name}}</h1>
            <h3>{{author}}</h3>
        </header>
        <div class="title">
            <h3>{{title}}</h3>
        </div>
        <img src="{{urlToImage}}" alt="" (click)="openNews(id)">
        <div class="description">
            <h3>{{description}}</h3>
        </div>
        <footer>
            <button *ngIf="!isFavorite" id="button" (click)="addToFavorites()">Add to favorites</button>
            <button *ngIf="isFavorite" id="button" (click)="addToFavorites()">Remove from favorites</button>
            <button *ngIf="this.authService.isAdmin" (click)="removeNews(id)">Remove news</button>
        </footer>
    </div>
</div>