/* .content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.post {
    height: 850px;
    width: 800px;
    margin-top: 30px;
    border: 2px solid silver;
    border-radius:  5px;
}
header {
    height: 70px;
    width: 100%;
    border-bottom: 2px solid silver;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.title {
    height: 50px;
    width: 100%;
    border-bottom: 2px solid silver;
    text-align: center;
    align-items: center;
}
.title h1 {
    margin-top: 10px;
}
img {
    height: 500px;
    width: 100%;
    border-bottom: 2px solid silver;
}
img:hover {
    cursor: pointer;
}
.description {
    height: 100px;
    width: 100%;
    text-align: center;
    border-bottom: 2px solid silver;
}
footer {
    height: 30px;
    width: 100%;
    margin: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer button {
    height: 30px;
    width: 200px;
}
footer button:hover {
    cursor: pointer;
}
 */
 body, html {
    margin: -8px;
 }
.content {
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.news {
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}
.img-wrapper {
    height: 100%;
    width: 350px;
}
.img-wrapper img {
    height: 100%;
    width: 100%;
    border: 1px solid #a8abad;
}
.text-block {
    height: 100%;
    width: 45%;
    margin-left: 20px;
}
.title {
    height: 65px;
    width: 100%;
    padding-left: 10px;
    display: flex;
    align-items: center;
}
.title a {
    font-size: 20px;
    font-weight: 600;
    font-family: Arial;
    color: #454e53;
}
.description {
    height: 100px;
    width: 100%;
    padding-left: 10px;
    padding-top: 20px;
    display: flex;
    overflow: hidden;
}
.description a {
    font-size: 15px;
    font-weight: 500;
    font-family: Arial;
    color: #454e53;
}
.text-block-button {
    height: 65px;
    width: 100%;
    display: flex;
    align-items: center;
}
.text-block-button button{
    height: 36px;
    width: 100px;
    background-color: #35383d;
    margin-left: 10px;
    border-radius: 5px;
    outline: none;
    color: white;
    font-family: Arial;
}
.text-block-button button{
    cursor: pointer;
}
.date-block {
    height: 100%;
    width: 10%;
    margin-left: 20px;
}
.date-block h1 {
    font-size: 15px;
    text-align: center;
    font-family: Arial;
    font-weight: 200;
}
.buttons {
    height: 100%;
    width: 15%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buttons button {
    height: 30px;
    width: 80%;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    color: white;
}
.buttons button:hover {
    cursor: pointer;
}
#red {
    background-color: #dc3546;
}
#black {
    background-color: #6c757e;
}

@media(max-width: 900px) {
    .content {
        height: 200px;
    }
    .title {
        height: 50px;
    }
    .description {
        height: 100px;
        padding-top: 10px;
    }
    .text-block-button {
        height: 50px;
    }
}
@media(max-width: 900px) {
    .content {
        height: 200px;
    }
    .title {
        height: 50px;
    }
    .description {
        height: 100px;
        padding-top: 10px;
    }
    .text-block-button {
        height: 50px;
    }
}
.low {
    height: 70px;
    width: 100%;
    display: none;
}
.low button {
    height: 36px;
    width: 100px;
    margin-left: 10px;
    border-radius: 5px;
    border: none;
}
@media(max-width: 650px) {
    .date-block {
        display: none;
    }
    .news {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
    .img-wrapper {
        width: 45%;
    }
    .text-block {
        width: 55%;
    }
    .buttons {
        display: none;
    }
    .low {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
}
@media(max-width: 480px) {
    .news {
        height: 160px;
    }
    .title {
        height: 40px;
    }
    .title a {
        font-size: 14px;
    }
    .description {
        height: 70px;
    }
    .description a {
        font-size: 13px;
    }
}

@media(max-width: 400px) {
    .img-wrapper {
        height: 120px;
    }
}