<!-- <div class="content">
    <div class="post">
        <header>
            <h1>{{name}}</h1>
            <h3>{{author}}</h3>
        </header>
        <div class="title">
            <h3>{{title}}</h3>
        </div>
        <img src="{{urlToImage}}" alt="" (click)="openNews(id)">
        <div class="description">
            <h3>{{description}}</h3>
        </div>
        <footer>
            <button *ngIf="!isFavorite" id="button" (click)="addToFavorites()">Add to favorites</button>
            <button *ngIf="isFavorite" id="button" (click)="addToFavorites()">Remove from favorites</button>
            <button *ngIf="this.authService.isAdmin" (click)="removeNews(id)">Remove news</button>
        </footer>
    </div>
</div> -->
<div class="content">
    <div class="news">
        <div class="img-wrapper">
            <img src="{{urlToImage}}" alt="">
        </div>
        <div class="text-block">
            <div class="title"><a>{{name}}</a></div>
            <div class="description"><a>{{title}}</a></div>
            <div class="text-block-button">
                <button (click)='openNews(id)'>Read more</button>
            </div>
        </div>
        <div class="date-block">
            <h1>{{author}}</h1>
            <h1>{{publishedAt | date:'mediumDate'}}</h1>
        </div>
        <div class="buttons">
            <button (click)='this.authService.editNews(id)' id="black">Edit</button>
            <button id="red" (click)='removeNews(id)'>Delete</button>
            <button id="black" *ngIf='!isFavorite' (click)='addToFavorites()'>Add to Favorites</button>
            <button id="black" *ngIf='isFavorite' (click)='addToFavorites()'>Remove to Favorites</button>
        </div>
    </div>
</div>
<div class="low">
    <button (click)='this.authService.editNews(id)' id="black" class="first">Edit</button>
            <button id="red" (click)='removeNews(id)'>Delete</button>
            <button id="black" *ngIf='!isFavorite' (click)='addToFavorites()'>Add to Favorites</button>
            <button id="black" *ngIf='isFavorite' (click)='addToFavorites()'>Remove to Favorites</button>
</div>