.content {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.add {
    width: 70%;
    height: 700px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h5 {
    margin: 0px;
    align-self: flex-start;
}
input {
    height: 30px;
    width: 100%;
    margin-bottom: 30px;
}
button {
    height: 35px;
    width: 102%;
    margin-bottom: 30px;
    background-color: #6c757e;
    border-radius: 5px;
    color: white;
}
button:hover {
    cursor: pointer;
}
form {
    width: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;

}
input.ng-touched.ng-invalid {
    border:solid red 3px;
}
input.ng-touched.ng-valid {
    border:solid green 3px;
}
.form-group {
    width: 100%;
}
@media(max-width: 768px) {
    .add {
        width: 100%;
    }
}


.content {
    height: 100%;
    height: 100%;
    background-color: #f8f9fb;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
header {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  #dc3546;
}
.header-text h1 {
    outline: none;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
}
.header-block {
    height: 50px;
    width: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-block-user {
    height: 50px;
    width: 100px;
}
.header-block button {
    height: 36px;
    width: 100px;
    border: 2px solid #b8222f;
    border-radius: 5px;
    background-color: #b8222f;
    text-align: center;
    outline: none;
    margin-right: 10px;
    color: white;
    margin-top: 25px;
}
.header-block button:hover {
    cursor: pointer;
}
.header-block h1 {
    margin-top: 5px;
    color: white;
    font-family: Arial;
    font-weight: 200;
}
.title {
    height: 50px;
    width: 100%;
    background-color: #353a40;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.title h1 {
    font-weight: 200;
}