.content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.post {
    height: 1150px;
    width: 70%;
    margin-top: -30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
header {
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #dc3546;
}
.title {
    height: 50px;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #353a40;
}
.title h1 {
    margin: 10px;
    font-family: Arial;
    color: white;
    font-weight: 200;
}
#date {
    justify-self: flex-start;
}
img {
    margin-top: 30px;
    height: 500px;
    width: 600px;
    border: 2px solid silver;
}
img:hover {
    cursor: pointer;
}
.content-block {
    height: 400px;
    width: 100%;
    text-align: center;
    overflow: auto;
}
footer {
    height: 30px;
    width: 100%;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer button {
    height: 30px;
    width: 200px;
}
footer button:hover {
    cursor: pointer;
}
.button-block {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-block button{
    height: 30px;
    width: 200px;
}


.content-head {
    height: 100%;
    height: 100%;
    background-color: #f8f9fb;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
header {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  #dc3546;
}
.header-text h1 {
    outline: none;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    color: white;
}
.header-block {
    height: 50px;
    width: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-block-user {
    height: 50px;
    width: 100px;
}
.header-block button {
    height: 36px;
    width: 100px;
    border: 2px solid #b8222f;
    border-radius: 5px;
    background-color: #b8222f;
    text-align: center;
    outline: none;
    margin-right: 10px;
    color: white;
}
.header-block button:hover {
    cursor: pointer;
}
.header-block h1 {
    margin-top: 5px;
    color: white;
    font-family: Arial;
    font-weight: 200;
}
.title-post {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.title-post h1 {
    font-weight: 200;
}
#button {
    height: 40px;
    width: 250px;
    background-color: #6c757e;
    border: none;
    outline: none;
    margin-bottom: 30px;
    color: white;
    border-radius: 5px;
}
#button:hover {
    cursor: pointer;
}
@media(max-width: 700px) {
    img {
        height: 420px;
        width: 500px;
    }
    .post {
        margin-top: -70px;
    }
}
@media(max-width: 550px) {
    img {
        height: 320px;
        width: 400px;
    }
    h1 {
        font-size: 16px;
    }
    .post {
        margin-top: -100px;
    }
}
@media(max-width: 420px) {
    img {
        height: 230px;
        width: 300px;
    }
    h3 {
        font-size: 12px;
    }
    .post {
        margin-top: -130px;
    }
}
@media(max-width: 330px) {
    img {
        height: 170px;
        width: 250px;
    }
}