/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
}

//TODO: use this colors in your program
$red: #dc3546;
$gray: #353a40;
$silver: #6c757e;
$black: #35383d;
$white: #f8f9fb;